<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block styles
      link(rel="stylesheet", href="assets/css/main.css")
    title Royal Motors
  body
    include ../../assets/svg/symbols.svg
    include ../mixins/icon.pug
    include ./header.pug
    main
      block promo
      block content
    include ./footer.pug
    block scripts
      script(src="assets/js/vendors-bundle.js")
      script(src="assets/js/runtimechunk~main-bundle.js")
      script(src="assets/js/main-bundle.js")