// Colors

// ===================================================================
// Descriptive colors
// ===================================================================
$red: #ff0000 !default;
$blue: #0c1826 !default;
$blue-light: #18283c !default;
$white: #fff !default;
$reddark: #bb0101;
// ===================================================================
// Theme colors
// ===================================================================
$color-primary: $red !default;
$color-secondary: $blue !default;
$textcolor: #fff;
$border: #ee223d;
$itemcolor: $reddark;
// Size
$container: 1150px !default;
$headertext: 11px;
$showtext: 13px;
$nav: 13px;
